@using System.Text.RegularExpressions
@model Record

<div class="copypasta" @(Model is not null ? $"data-copypasta-id={@Model.Id}" : "")>
    <div class="copypasta__body">
        @if (ViewBag.IsAdmin)
        {
        <textarea class="copypasta__text" maxlength="500" @(ViewBag.IsAdmin ? "" : "readonly")>@Model?.Text</textarea>
        }
        else
        {
            <div class="copypasta__text">@Html.Raw(Regex.Replace(Model.Text, @"@[a-zа-я_\d]+", "<b>$&</b>", RegexOptions.Compiled | RegexOptions.IgnoreCase))</div>
        }

        @if (ViewBag.IsAdmin)
        {
            <div class="letter-counter">@((Model?.Text ?? "").Length)/500</div>
        }
        
        @if (Model != null)
        {
            <a class="link-button" href="@Url.Action("Copypasta", "Home", new { id = Model.Id })"
               target="_blank"
               data-tippy-content="Эта паста">
                <i class="bi bi-link"></i>
            </a>
        }
    </div>
    <div class="copypasta__footer">
        <div class="relative-container">
            <div class="tags-row">
                @foreach (var recordTag in Model?.RecordTags ?? new List<RecordTag>())
                {
                    <span class="tag" data-tag-id="@recordTag.TagId">
                        @recordTag.Tag.Name
                    </span>
                }
            </div>
            <div class="left-scroll-shadow"></div>
            <div class="right-scroll-shadow"></div>
        </div>
        <div class="buttons-row">
            @if (Model != null)
            {
                if (Model?.OriginalRecordId is { } originalRecordId)
                {
                    <a href="@Url.Action("Copypasta", "Home", new { id = originalRecordId })"
                       target="_blank"
                       class="footer-button"
                       data-tippy-content="Оригинал">
                        <i class="bi bi-journal"></i>
                    </a>
                }
                if (Model?.SimilarRecords.Count > 0)
                {
                    <a href="@Url.Action("SimilarTo", "Home", new { id = Model.Id })"
                       target="_blank"
                       class="footer-button"
                       data-tippy-content="Похожие">
                        <i class="bi bi-journals"></i>
                    </a>
                }
                <button class="footer-button copy-button" aria-label="Copy" data-tippy-content="Скопировать"><i class="bi bi-clipboard"></i></button>
            }
            @if (ViewBag.IsAdmin)
            {
                <button class="footer-button save-button"
                        aria-label="Save"
                        data-href="@(Model == null ? Url.Action("Create", "Home") : Url.Action("Edit", "Home"))">
                    <i data-feather="save"></i>
                </button>
                <button
                    class="footer-button remove-button"
                    aria-label="Remove"
                    data-href="@Url.Action("Delete", "Home")">
                    <i data-feather="trash"></i>
                </button>
                <button
                    class="footer-button add-tag-button"
                    aria-label="Add tag">
                    <i data-feather="tag"></i>
                </button>  
            }
        </div>
    </div>
</div>