@model X.PagedList.IPagedList<Record>

@{
    ViewData["Title"] = "Главная";
    ViewBag.OwnCssBundle = true;
}

@section Head {
    <link href="~/dist/css/Home/Index.css" rel="stylesheet"/>
}

@section NavButtons {
    <li id="filterTagsPopover" class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            Выбрать теги
        </a>
        <div class="dropdown-menu p-0" aria-labelledby="navbarDropdown">
            <div class="tags-container includable">
                @functions
                {
                    void GetTagContainer(Tag tag)
                    {
                        var isTagIncluded = ((List<int>)ViewBag.IncludedTagIds)?.Contains(tag.Id) ?? false;
                        var isTagExcluded = ((List<int>)ViewBag.ExcludedTagIds)?.Contains(tag.Id) ?? false;
                        <span class="tag @(isTagIncluded ? "included" : isTagExcluded ? "excluded" : "")" 
                              data-tag-id="@tag.Id">@tag.Name</span>
                    }
                }
                
                @foreach (var tag in ((IOrderedQueryable<Tag>)ViewBag.Tags).Where(t => t.CategoryId == null))
                {
                    GetTagContainer(tag);
                }
                
                @foreach (var category in (List<TagCategory>)ViewBag.TagCategories)
                {
                    <div class="divider-with-text"><span class="divider-text">@category.Name</span></div>
                    foreach (var tag in category.Tags.ToList())
                    {
                        GetTagContainer(tag);
                    }
                }
                <i class="bi bi-info-circle info-icon"></i>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="@Url.Action("Random", "Home")" role="button">
            Мне повезёт!
        </a>
    </li>
}

@await Html.PartialAsync("RecordsListPartial", Model)

@section Scripts {
    @if (ViewBag.IsAdmin)
    {
        <script type="module" src="~/dist/js/editMode.bundle.js" asp-append-version="true"></script>
    } else {
        <script type="module" src="~/dist/js/homeIndex.bundle.js" asp-append-version="true"></script>
    }
}
